.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: repeat(4, 1fr);
  gap:1rem;
  font-size: x-large;



.item{
  display: flex;
  justify-content: center;
align-items: center;
  width: 4.2rem;
  height: 4.5rem;
  border: 3.5px solid gray;

 


}}

.correct{
  background-color: rgb(116, 228, 116);
}

.includedLetter{
  background-color: rgb(227, 227, 79);
}

// .incorrect{
//   background-color: lightgray;
// }
