


.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: repeat(6, 1fr);
  gap:2rem;
  margin: 1rem;
  font-size: xxx-large;
  justify-content: center;
  color: white;

}

.board{
  gap: 2rem;
}


.item{
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  
 
  width: 4.2rem;
  height: 4.5rem;
  border: 3.5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
 


}
.correct{
  background-color: #6aaa64;
  justify-content: center;
}

.includedLetter{
  background-color: #c9b458;
}

.button{
  min-width: 80px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  gap: 2rem;
}

.incorrectLetter{
  background-color: #787c7e;
}
